body{
  margin: 0;
  padding: 0;
  background-image: url('./assets/clouds.jpg');
  background-size: cover;
}

button{
  font-family: 'Lato';
  font-size: 18px;
  border-radius: 5px;
  background-color:rgba(255, 255, 255, 0.103) ;
  border: none;
  transition: 0.6s;
  padding: 5px 8px;
}

button:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.37);
  color: snow;
}
button:focus{
  outline: none;
}
