#search-box{
  width: 70%;
  font-family: 'Lato';
  margin: 30px auto;
  padding: 10px;
  background-color:rgba(255, 255, 255, 0.541);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input{
  font-size: 20px;
  margin: 25px;
}

input:focus{
  outline: none;
}

#submit-btn{
  font-family: 'Lato';
  font-size: 18px;
  border-radius: 5px;
  background-color: white;
  border: none;
  transition: 0.6s;
  padding: 5px 10px;
}

#submit-btn:hover:enabled{
  cursor: pointer;
  background-color: rgba(121, 105, 105, 0.288);
  color: snow;
}

#submit-btn:active{
  outline: none;
}