#cities{
  width: 100%;
  font-family: 'Lato';
  margin: 0 auto;
  padding: 10px;
}

#city-infos{
  width: 70%;
  margin: 100px auto;
}

.days{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.day-card{
  width: 150px;
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.day-card h3{
  font-weight: lighter;
 font-size: 16px;
}
