body {
  background-color: #1abc9c;
  background-image: url(catsanta.png);
  background-size: 10%;
}

h1{
  font-size: 20px;  
  text-transform: uppercase;
}

form,
button {
  font-family: 'Montserrat';
}

form {
  width: 400px;
  height: 300px;
  margin: 100px auto;
  border: 1px solid black;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: ghostwhite;
}

#button-container{
  display: flex;
  justify-content: center;
}

button{
  font-size: 16px;
  padding: 10px;
  margin: 40px 20px 0 0;
  color: rgb(75, 72, 72);
}

input{
  margin-left: 20px;
}

label{
  margin-left: 10px;
}

